@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img,
picture,
video * {
    width: 100%;
    display: block;
}

html,
body {
    height: 100%;
}


header {
    padding: 1rem 5rem;
   border-bottom: 1px solid grey;
}





#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-container>nav {
    display: flex;
    align-items: center;
}

#nav-container>nav>a {
    margin-right: 1.5rem;
}

#nav-container>nav>ul {
    display: flex;
    list-style-type: none;

}

#nav-container>nav>ul>li {
    margin-right: 1rem;
    font-size: 1rem;
}

#sub-list-container>ul {
    list-style-type: none;
    display: flex;
    gap: 1rem
}
.nav-items {
width: 1.5rem
}

#page-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

main{
background-color: red;
}

#side-menu{
    border: 1px solid grey;
    border-radius: 0.6rem;
}

#publish-options{
background-color: blue;
}