@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img,
picture,
video * {
    width: 100%;
    display: block;
}

html,
body {
    height: 100vh;
}

main {
    height: inherit
}

#sign-up-wrapper {
    display: flex;
    height: inherit;

}

#dash-content {
    flex: 3;
    background-color: white;
    padding: 1rem;


}

section{
    margin-bottom: 1rem;
}

#dash-content>#edit-stories-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}

#dash-content>h1 {
    margin-bottom: 4rem;
}

#dash-content>h2 {
    margin-bottom: 4rem;
}

#dash-content>table {
    width: 100%;
    text-align: center;
}


#dash-side-menu {

    background-color: #F5CBB3       ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;

}


#logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo-container>img {
    width: 3rem;
}




#title-container {
    display: flex;
    flex-direction: column;
}

#title-container>#main-title {
    font-size: 1.2rem;
    font-weight: 800;

}

#analytics-data-container {
    display: flex;
    gap: 4rem;
    margin-bottom: 3rem;
}

.analytics-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #F3F4F6;
    border-radius: 0.8rem;
    padding: 1rem;
}

.analytics-item>img {
    width: 2rem;
}

.analytics-item:first-child>img {
    width: 100%;
}
.nav-link-container{
    list-style-type: none;
    margin-bottom: 1rem;
    color:#565E6C;
    padding: 0.2rem;
    
}
.nav-link-container:hover{
    background-color: #29C3E5;
    color:white
   
}
.nav-link-container>a{
display: block;
text-decoration: none;
color: inherit;
}


#add-new-story{
background-color: #F3F4F6;
border: none;
padding: 0.4rem 1rem;
margin-right: 1rem;
}

#logout-button{
    background-color: #EC7735;
    border: none;
    color: white;
    padding: 0.4rem 1rem;

}


.status-container{
    background-color: #EEFDF3;
    color: #117B34;
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.2rem;
}